.category-button {
  border: none;
  margin: 10px;
}

.category-button img {
  width: 30px;
  height: 30px;
  border-radius: 75%;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.category-button:hover {

}
