#header {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 27em;
}

#header > h1 {
  color: #FF6745;
  font-family: 'Roboto';
  font-size: 44px;
  font-weight: 400;
  margin: 15px;
}

.header-logo {
  text-align: center;
  background-color: #FF6745;
}

.header-logo > svg {
  margin: 50px auto;
}

.header-searchbar {
  max-width: 70%;
}

#quickselect-buttons {
  display: flex;
  flex-direction: row;
}

#featured {
  background-color: #FF6745;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  padding-bottom: 30px;
}

#featured_header {
  color: #FFFFFF;
  margin-left: 10px;
}

.featured-contents {
  display: block;
  width: 70%;
  max-width: 70%;
  margin: 10px auto;
}

.featured-contents-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}

.featured-show-more {
  font-size: 1.25em;
  color: #FFECE8;
  /* text-decoration: underline; */
  border-bottom: solid 2px #FFFFFF;
  display: inline;
  padding-bottom: 3px;
  font-family: 'Roboto';
  margin-bottom: 15px;
  margin-left: 10px;
}

#about-us {
  max-width: 70%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  margin-top: 20px;
}

#about_header {
  color: #FF6745;
}

.about-us-text {
  margin: 0 10px;
  flex: 50%;
}

.about-us-pics {
  margin: 0 10px;
  flex: 50%;
}

#team_pic {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  padding-top: 30px;
}

#about_us_description {
  font-size: 18px;
  font-family: 'Roboto';
}

#footer {
  background-color: #FF6745;
}

.footer-contents {
  padding: 10px;
  margin: 0 5px;
  text-align: center;
}

.footer-contents > h4 {
  margin: 5px;
  color: #FFECE8;
}

@media (max-width: 768px) {
  .header-logo > svg {
    width: 350px;
    margin: 10px auto;
  }

  .header-searchbar {
    max-width: 100%;
  }

  #featured {
    padding: 10px 0;
  }

  .featured-contents {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .featured-contents-cards {
    text-align: initial;
  }

  .featured-contents > h1, .featured-contents > a {
    text-align: center;
  }

  #about-us {
    max-width: 100%;
    margin: 0 10px;
    flex-direction: column;
  }
}
