#header {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 85%;
  min-height: 25em;
}

#quickselect-buttons {
  display: flex;
  flex-direction: row;
}

#featured {
  display: flex;
  flex-direction: row;
}
