.article-card-wrapper {
  display: flex;
  flex-direction: row;
  width: 440px;
}

.article-card {
  padding: 0;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.15);
  height: 200px;
  max-width: 400px;
  margin: 20px;
  cursor: pointer;
}

.article-card-image-container {
  padding: 0;
  padding-left: 15px;
  height: 100%;
}

.article-card-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}

.article-card-contents {
  height: 100%;
}

.article-card-contents-spacer {
  height: calc(100% - 50px);
  width: 0px;
  float: right;
}

.article-card-contents-summaries {
  display: flex;
  flex-direction: row;
}

.article-card-icon {
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  float: right;
  clear: right;
}
