.category-button {
  border: none;
  margin: 10px;
  background-color: transparent;
}

.category-button-img {
  border-radius: 75%;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.category-button:hover {

}
