.category-button {
  border: none;
  margin: 10px;
  background-color: transparent;
  text-align: center;
}

.category-button-active {

}

.category-button-img {
  border-radius: 75%;
}

.category-button p {
  font-size: 1.5em;
  letter-spacing: 0.1875em;
}
