.navbar {
  margin: 0;
  min-height: 81px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 0%;
}

.navbar > .container-fluid {
  min-height: 81px;
  margin: auto 15px;
  position: relative;
  transform: translateY(14px);
}

.navbar-brand {
  padding: 0;
}

.navbar-logo-container {
  height: 71px;
  padding: 0;
}

/* .navbar-logo-inactive > .navbar-logo-container {
  width: 71px;
  background: url('../public/logo-pin.png');
}

.navbar-logo-active > .navbar-logo-container {
  width: 286px;
  background: url('../public/logo-full.png')
} */

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a
{
  color: #9C9C9C;
  background-color: #FFFFFF;
  font-size: 18px;
  font-weight: lighter;
}

.navbar-default .navbar-nav>li {
  margin-left: 25px;
}



.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: #FFFFFF;
}

.navbar-default .navbar-nav>li.home>a:hover, .navbar-default .navbar-nav>li.home.active>a {
  color: #333333;
}

.navbar-default .navbar-nav>li.eat>a:hover, .navbar-default .navbar-nav>li.eat.active>a {
  color: #FF6745;
}

.navbar-default .navbar-nav>li.drink>a:hover, .navbar-default .navbar-nav>li.drink.active>a {
  color: #30A5CA;
}

.navbar-default .navbar-nav>li.play>a:hover, .navbar-default .navbar-nav>li.play.active>a {
  color: #FFB029;
}

.navbar-default .navbar-nav>li.visit>a:hover, .navbar-default .navbar-nav>li.visit.active>a {
  color: #92CF10;
}

.navbar-default .navbar-nav>.eat>a:active {
  color: #92CF10;
}

@media (min-width: 768px) {
  .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
  }
  /* .navbar-nav>li:hover {
    background: rgb(197, 116, 18);
  } */

  /* .navbar-nav>li>a {
    border-bottom: 3px solid rgba(234, 164, 81, 1);
  } */

  /* .navbar-nav>li.home.active>a, .navbar-nav>li.home>a:hover {
    border-bottom: 3px solid #333333;
  }
  .navbar-nav>li.eat.active>a, .navbar-nav>li.eat>a:hover {
    border-bottom: 3px solid #FF6745;
  }
  .navbar-nav>li.drink.active>a, .navbar-nav>li.drink>a:hover {
    border-bottom: 3px solid #30A5CA;
  }
  .navbar-nav>li.play.active>a, .navbar-nav>li.play>a:hover {
    border-bottom: 3px solid #FFB029;
  }
  .navbar-nav>li.visit.active>a, .navbar-nav>li.visit>a:hover {
    border-bottom: 3px solid #92CF10;
  } */
  /* .navbar-nav>li {
    border-bottom: 3px solid white;
  } */

}

@media (max-width: 768px) {
  .navbar {
    min-height: initial;
  }

  .navbar > .container-fluid {
    min-height: initial;
    transform: initial;
    margin: initial;
  }

  .navbar-brand {
    height: initial;
    transform: initial;
    padding: 5px;
  }

  /* .navbar-logo-active > .navbar-logo-container,
  .navbar-logo-inactive > .navbar-logo-container {
    height: 40px;
    width: 71px;
    background: url('../public/logo-pin.png');
  } */
}
