.navbar {
  margin-bottom: 18px;
  margin-top: 18px;
  margin-right: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 0%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a
{
  color: #9C9C9C;
  background-color: #FFFFFF;
  font-size: 18px;
  font-weight: lighter;
}

.navbar-default .navbar-nav>li {
  margin-left: 25px;
}



.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: #FFFFFF;
}

.navbar-default .navbar-nav>li.home>a:hover, .navbar-default .navbar-nav>li.home.active>a  {
  color: #333333;
}

.navbar-default .navbar-nav>li.eat>a:hover, .navbar-default .navbar-nav>li.eat.active>a {
  color: #FF6745;
}

.navbar-default .navbar-nav>li.drink>a:hover, .navbar-default .navbar-nav>li.drink.active>a {
  color: #30A5CA;
}

.navbar-default .navbar-nav>li.play>a:hover, .navbar-default .navbar-nav>li.play.active>a {
  color: #FFB029;
}

.navbar-default .navbar-nav>li.visit>a:hover, .navbar-default .navbar-nav>li.visit.active>a {
  color: #9603CA;
}

.navbar-default .navbar-nav>.eat>a:active {
  color: #9603CA;
}

@media (min-width: 768px) {
  /* .navbar-nav>li:hover {
    background: rgb(197, 116, 18);
  } */

  /* .navbar-nav>li>a {
    border-bottom: 3px solid rgba(234, 164, 81, 1);
  } */

  .navbar-nav>li>a:hover {
    /* border-bottom: 3px solid #cc7a6f; */
  }
}
