.whiteDiv {
  width: 22px;
  background-color: #FFFFFF;
  height: 100%;
  position: absolute;
  right: 0;
}

.inline {
  display: inline-block;
  float: left;
}

.fullHeight {
  height: 100%;
}

.title {
  font: lighter 3.25em/1.2 'Overpass', sans-serif;
  color: white;
  font-weight: 1000;
  margin: 25px 0 15px 0;
}

.location {
  font-size: 1em;
  color: white;
  font-weight: 100;
  display: inline;
  margin: 0;
}

.location_div {
  margin-bottom: 15px;
  vertical-align: middle;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.oneLiner {
  font-size: 1.2em;
  color: #FFFFFF;
  font-weight: 500 ;
}

.headerImageDiv {
  align-items: center;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  padding: 0;
  background-color: #FFFFFF;
}

.headerImage {
  border-left: 22px;
  border-right: 22px;
  border-width: 5px;
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  padding: 0;
  display:inline;
  width: 100%;
}

.imageStyle {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pin {
  /* margin-left: auto;
  margin-right: auto;
  width: 100%; */
  display: inline;
  height: 13px;
  margin-right: 4px;
}

.headerRowStyle {
  background-color: #FF6745;
  margin-bottom: 30px;
  display: flex;
}

.categoryColStyle {
  background-color: #FFFFFF;
  text-align: center;
}

.categoryDivStyle {
  vertical-align: middle;
  margin-bottom: 15px;
}

.categoryBoxesStyle {
  color: #FF6745;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
  width: 60px;
  margin-right: 20px;
  display: inline-block;
  border-radius: 15.5px;
}

.categoryTripTime {
  width: 90px;
}

.whiteTextStyle {
  color: white;
  font: 'Roboto', sans-serif;

}

.body {
  padding: 0;
}

.bodyTitleStyle {
  color: #FF6745;
  padding-bottom: 20px;
  font: 800 2.25em 'Overpass', sans-serif;
}

.article-card-contents {
  padding: 0 10px;
}

@media (min-width: 768px) {
  .noPadding {
      padding-left: 0;
      padding-right: 0;
  }
}
